* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}


/*---------- Common style start here-------------- */


.pink-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    background-color: #FF42A5;
    padding: 15px 40px;
    margin-top: 41px;
    margin-right: 24px;
}

.All-Title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.All-title-description {
    color: #534C64;
    font-size: 18px;
    line-height: 30px;
}

/* ---------Navigation style start here */
.nav-container {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}

.nav-info {
    width: 80%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: center;

}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 100px;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Gamer {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.G-font {
    color: #FF42A5;
}

.main-menu {
    display: flex;
    gap: 32px;
    align-items: center;
}

.list-items {
    display: flex;
    gap: 20px;
    list-style: none;
}

.list-items li a,
.icon-btn p a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.icon-btn {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
}

/* --------------Banner style start here */
.Banner-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 52px;
}

.header-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;

}

.banner-info {
    background-image: url('../images/Group\ 14.png');
    padding: 20px;
    border-radius: 10px;
}


.sub-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-title {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.icon-descp {
    margin: 17px 0;
}


.Go {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    background-color: #4EC5F7;
    padding: 15px 40px;
    margin-top: 41px;
}

.banner-images img {
    width: 100%;
}


/*--------------  Gamer Boy style start here*/
.Gamer-boy-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.gamer-boy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

}

.Title-one {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-image img {
    width: 100%;
}

.Gamer-title {
    text-align: right;
}

.Op {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 10px;
}

.Ung {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}


/* ----------Online Games Funny Videos */
.Online-Games-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
}

.Online-Games {
    text-align: center;
}

.Funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.card-image img {
    width: 100%;
}

.Card-description {
    color: #534C64;
    margin-top: 15px;

}


/*---------- Play Instantly, No Downloads No Installs.  */


.Play-Instantly-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
}

.Play-Instantly {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    height: 650px;
    align-items: center;
}

.Play-Gamer-image {
    background-image: url('../images/Rectangle 55.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.Play-Gamer-image img {
    width: 218px;
    height: 265px;
    padding-top: 450px;
    margin-left: -100px;
    margin-bottom: -80px;
}
.mt-top{
    margin-top: 190px;
}
.Play-Gamer-image-two{
    background-image: url('../images/Rectangle\ 67.png');
    height: 650px;
}

.Play-Gamer-image-two img {
    width: 218px;
    height: 265px;
    padding-top: 450px;
    margin-left: 350px;
    margin-bottom: -50px;
    margin-right: -100px;
    border-radius: 20px;
}


/* ----------- Other games apps style start here */
.Other-gaming-aps {
    width: 80%;
    margin: 0 auto;
}

.gaming-apps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.apps-info {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* ----------Footer style start here */
.Footer-container {
    background-color: #0B0223;

}

.Footer-info {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

.logo-footer {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 66px;
}

.Gamer-footer {
    color: #FFF;
}

.footer-menu ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    padding: 0 100px;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.footer-menu-two ul {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 0 100px;
}

.footer-menu-two ul li {
    list-style: none;
}

.footer-menu-two ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    text-decoration: none;
}

.coppy-write {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 130px;
}

.Social-Icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin: 65px 0;
    padding: 0 270px;
}

.twitter img {
    height: 45px;
    width: 45px;
}

/*----------- Medium Device Responsive style start here */




/*----------- Mobile Device Responsive style start here */
@media only screen and (max-width:576px) {
    .nav-container {
        background-color: #FFF;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 250px;
    }

    .logo {
        margin-top: 50px;
    }

    .nav-bar {
        grid-template-columns: repeat(1, 1fr);
    }

    .list-items {
        flex-direction: column;
    }

    .main-menu {
        flex-direction: column;
        margin-top: -30px;
    }

    /* Header Banner style start here */
    .header-banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner-info {
        margin-top: 50px;
        text-align: center;
    }

    /* Gamer boy style here */
    .gamer-boy {
        grid-template-columns: repeat(1, 1fr);
    }

    .Gamer-title {
        text-align: center;
    }

    /* Online Games Funny Videos */
    .card {
        grid-template-columns: repeat(1, 1fr);
    }
    /* Gaming Post style start here */
    .Play-Instantly{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 450px;
        width: 80%;
        width: 450px;
    }


    /* -------- Gaming apps style start here */
    .gaming-apps {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 50px;
    }
    .apps-info img{
        width: 30px;
        height: 30px;
    }
    .game-name{
        font-size: 12px;
        font-weight: 400;
    }

    /* Footer style start here */
    .Footer-info {
        padding: 10px 0;
    }

    .footer-menu ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 0 20px;
    }

    .Social-Icon {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        padding: 0 10px;
    }

    .footer-menu-two ul {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        padding: 0 25px;
    }
}